@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap'); */
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: clip;
    /* margin-left: 5vw; */
    /* margin-right: 0; */
    padding: 0;
    /* background-color: #FCF6F1; */
    background-color: #F8EDE2
}
.floating-item {
    @apply absolute rounded-full bg-blue-500;
    width: 10px;
    height: 10px;
  }

.Title{
    font-size: 2.3rem;
    font-weight: bolder;
    margin: 0;
    margin-left: 5vw;
    /* margin-bottom: 5vh; */
}
.sub-title{
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    margin-left: 5vw;
}

/* 
.navbutton::before {
    content: "";
    right:0;
    top: -50px;
    height: 50px;
    width: 50px;
    position: absolute;
    background: #161B33;
    border-radius: 50%;
    box-shadow: 25px 25px 0 #F8EDE2;
    z-index: -1;
}
.navbutton span::before {
    content: "";
    right:0;
    top: 0px;
    height: 50px;
    width: 50px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 25px 25px 0 #000;
    z-index: -1;
    opacity: 0.5;
}
.navbutton::after {
    content: "";
    right:0;
    bottom: -50px;
    height: 50px;
    width: 50px;
    position: absolute;
    background: #161B33;
    border-radius: 50%;
    box-shadow: 25px -25px 0 #F8EDE2;
    z-index: -1;
} */

@media (max-width: 480px) {
    
.Title{
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 0;
    margin-left: 5vw;
    /* margin-bottom: 5vh; */
}
.sub-title{
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0;
    margin-left: 5vw;
}
}

